@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">PhotoGallery</h1>
    <p>
        <a class="btn btn-primary" asp-controller="Gallery" asp-action="Index">Открыть галерею</a>
    </p>
</div>
